<div class="container">    
    <h1>Burgers</h1>
    <div class="row">
        <div class="col">
            <h2>Ready to be eaten</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger-block}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col">
            <h2>Already devoured</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>
                            {{burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul\>
        </div>
    </div>

    <div class="row">
        <div>
            <h2>Add a burger</h2>
            <form class="create-form">
                <div>
                    <label for="burger-input">Enter name of burger:</label>
                    <input type="text" id="burger-input" name="name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>